body {
    background-color: #242424;
    font-family: Arial, Helvetica, sans-serif;
}

.blockContentDiv {
    display: block;
    width: 1000px;
    padding-top: 20px;
    margin: auto;
    background-color: #242424;
}

.defaultImg {
    overflow: hidden;
    object-fit: cover;
    height: 100px;
}

.toptitleDiv {
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

h1 {
    padding-left: 30;
    color: white;
    font-size: 4em;
    text-align: left;
}

h2 {
    color: white;
    margin: 0;
    padding: 20;
    text-align: left;
}
h3 {
    margin: 0;
    padding: 20;
    text-align: left;
}

.sigDiv {
    display: block;
    width: 1000px;
    margin: auto;
}

h5 {
    text-align:center;
    color: white;
}

p {
    font-size: 1em;
    margin: 0;
    padding-bottom:10;
    padding-top:10;
    padding-right:20;
    padding-left:20;
    line-height: 150%;
}

ol {
    font-size: 1em;
    margin: 0;
    padding-bottom:10;
    padding-top:10;
    padding-right:10;
    line-height: 150%;
}

span {
    font-size: 1em;
    margin: 0;
    padding-bottom:10;
    padding-top:10;
    padding-right:20;
    padding-left:20;
    line-height: 150%;
    display: inline-block;
}

.contentDiv {
    padding:0;
    margin:0;
    overflow: auto;
    background-color: #707070; 
}

.sideBar {
    float: left;
    width: 50%;
    display: block;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: #707070; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mainContent {
    float: right;
    display: block;
    overflow: auto;
    width: 50%;
    margin: 0;
    padding: 0;
    background-color: #707070; 
}

.sepDiv {
    background-color: #4A4A4A;
    width:100%;
    min-height: 10;
    z-index: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sepDiv h2 {
    color: white;
    padding-left: 40;
    margin:0;
    font-size: 1em;
    padding-left: 30;
    text-align: left;
}

.sigDiv a:link{
    color: white;
    text-decoration: none;
}

.sigDiv a:visited {
    color: white;
    text-decoration: none;
}

.sepDiv a:link {
    color: white;
    text-decoration: none;
}

.sepDiv a:visited {
    color: white;
    text-decoration: none;
}

.flexBodyProxy {
    margin: 0;
    padding: 0;
    margin-bottom:10;
    margin-top: 10;
    margin-left: 10;
    margin-right:10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.headerDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0;
    background-color: #4A4A4A; 
}

.headerDiv.poc {
    background-color: #77140B;
}

.bodyDiv {
    margin: 0;
    background-color: #BCBCBC;
}

.bodyDiv img {
    display: block;
    padding: 0;
    min-width: 100%;
    max-width:100%;
    max-height:90%;
}

form {
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.formBody p {
    font: 1em;
    font-family: Arial, Helvetica, sans-serif;
    display: flexbox;
    width: 50%;
    margin: 10;
    padding: 0;
    text-align: center;
}

input {
    padding: 5;
    margin: 0;
    width: 100%;
}