<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>OGLPV</title>
</head>

<body>
    <div class="blockContentDiv">
        <div class="topTitleDiv" style='background-image: url("/static/images/assets/mainBanner.png")'>
            <h1>DET 060 OGLPV 2.0</h1>
        </div>

        <div class='ContentDiv'>
            {% block content %}
            {% endblock %}
        </div>

    </div>

    <div class='sigDiv'>
        <h5>Coded by Nathan Frank</h5>
    </div>

</body>

</html>